/* Tablet */

@media (max-width: 992px) {
}

/* Mobile */

@media (max-width: 768px) {
  #menu-toggle {
    display: block;
  }

  #main-menu {
    display: none;
  }

  .hero-buttons {
    flex-direction: column;
  }

  section {
    padding: 3rem 1rem;
  }

  .services-container {
    grid-template-columns: 1fr;
  }

  #site-footer {
    grid-template-columns: 1fr;

    text-align: center;
  }

  #cookie-banner {
    width: calc(100% - 2rem);

    flex-direction: column;

    text-align: center;
  }

  .cookie-actions {
    width: 100%;

    flex-direction: column;
  }

  .cookie-actions button {
    width: 100%;
  }

  .courses-grid,
  .paths-grid,
  .benefits-grid {
    grid-template-columns: 1fr;
  }

  #academy-hero {
    min-height: 60vh;
  }

  .academy-hero-buttons {
    flex-direction: column;
  }

  .paths-grid,
  .benefits-grid {
    grid-template-columns: 1fr;
  }
}

/* Mobile pequeno */

@media (max-width: 480px) {
}
